body {
    font-family: Arial, sans-serif;
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.app {
    background: white;
    width: 350px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #aaa;
}

button {
    padding: 10px 18px;
    background: #4A6CF7;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}
.delete-btn {
    background: #ff4d4d;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
}